# yii console command
/yii

# IDE project files
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

# environment files
.env
.env.local

# SQL data
console/migrations/*.sql

# Working scripts
/scripts

# Working directory
/var

# Tests cache
tests/*.cache