html,
body {
    height: 100%;
}

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1870px;
    }
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a {
    color: green;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

p {
    text-align: justify;
}

/* Clearing trick */
.buttoned-header:before {
    content: " ";
    display: table;
}

.buttoned-header:after {
    content: " ";
    display: table;
    clear: both;
}

.buttoned-header > h1, .buttoned-header > h2, .buttoned-header > h3 {
    float: left;
}

.buttoned-header > a, .buttoned-header > div, .buttoned-header > p {
    float: right;
    margin: 20px 0 10px 10px;
}

.subtitle {
    font-style: italic;
    text-align: left;
}

.tag-box {
    background-color: lightblue;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 10px 0 0;
}

.btn-group {
    margin-top: 5px;
}

.error-box {
    color: #a94442;
    background: #fdf7f7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle
}

.btn-primary {
    background-image: -webkit-linear-gradient(top, forestgreen 0%, green 100%) !important;
    background-image: -o-linear-gradient(top, forestgreen 0%, green 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(forestgreen), to(green)) !important;
    background-image: linear-gradient(to bottom, forestgreen 0%, green 100%) !important;
    background-repeat: repeat-x;
    border-color: mediumseagreen !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background: mediumseagreen 0 -15px !important;
}

.btn-primary:active,
.btn-primary.active {
    background-color: green !important;
    border-color: mediumseagreen !important;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background: green none !important;
}

a {
    color: green;
    text-decoration: none;
}

a:hover,
a:focus {
    color: mediumseagreen;
    text-decoration: underline;
}

.pagination > li > a, .pagination > li > span {
    color: green;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: green;
    border-color: green;
}

.private-notes {
    background-color: #eeeeee;
    padding: 10px 15px 0 15px;
    border: 2px solid #eeeeee;
    border-radius: 15px;
}

.index-box {
    border: 3px solid green;
    border-radius: 15px;
    float: left;
    margin: 1% 0.75%;
    height: 180px;
    padding: 0 10px;
    overflow: auto;
    position: relative;
}

@media (max-width: 383px) {
    .index-box {
        width: 94%;
        margin: 2% 0;
    }
}

@media (min-width: 384px) {
    .index-box {
        width: 47%;
    }
}

@media (min-width: 768px) {
    .index-box {
        width: 47%;
    }
}

@media (min-width: 960px) {
    .index-box {
        width: 31%;
    }
}

@media (min-width: 1280px) {
    .index-box {
        width: 23.5%;
    }
}

@media (min-width: 1600px) {
    .index-box {
        width: 15%;
        margin: 0.5% 0.5%;
    }
}

@media (min-width: 2140px) {
    .index-box {
        width: 11%;
    }
}

.index-box-low {
    height: 128px;
}

.index-box-lowest {
    height: 64px;
}

.index-box-gm {
    border: 3px solid gold;
}

.index-box-designated {
    border: 3px solid yellowgreen;
}

.tab-pane {
    margin-top: 20px;
}

.seen-tag-new {
    color: white;
    background-color: yellowgreen;
}

.seen-tag-updated {
    color: white;
    background-color: goldenrod;
}

.seen-tag-seen {
    color: white;
    background-color: lightgrey;
    display: none;
}

.seen-tag-box {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px;
    position: absolute;
    bottom: 1%;
    right: 5%;
    width: 64%;
}

.seen-tag-header {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.625em;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 20px;
    vertical-align: middle;
}
