html,
body {
    height: 100%;
}

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1870px;
    }
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    padding: 5px 0;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

p {
    text-align: justify;
}

/* Clearing trick */
.buttoned-header:before {
    content: " ";
    display: table;
}

.buttoned-header:after {
    content: " ";
    display: table;
    clear: both;
}

.buttoned-header > h1, .buttoned-header > h2, .buttoned-header > h3 {
    float: left;
}

.buttoned-header > a, .buttoned-header > div, .buttoned-header > p {
    float: right;
    margin: 20px 0 10px 10px;
}

.subtitle {
    font-style: italic;
    text-align: left;
}

.tag-box {
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    padding: 8px 12px;
    margin: 0 10px 5px 0;
}

.btn-group {
    margin-top: 5px;
}

.error-box {
    color: #a94442;
    background: #fdf7f7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.warning-box {
    color: #c8c864;
    background: #fdfdf7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.info-box {
    color: #4545a9;
    background: #f7f7fd;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle
}

@media (max-width: 575px) {
    .table > thead > tr > th {
        text-align: center;
    }
}

@media (max-width: 383px) {
    .table > thead > tr > th {
        font-size: 12px;
    }
}

.btn-primary {
    background-repeat: repeat-x;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.public-notes {
    margin-bottom: 10px;
}

.protected-notes {
    padding: 10px 15px 0;
    border-radius: 15px;
    margin-bottom: 10px;
}

.private-notes {
    padding: 10px 15px 0;
    border-radius: 15px;
    margin-bottom: 10px;
}

.index-box {
    float: left;
    margin: 1% 0.75%;
    height: 200px;
    padding: 0 10px;
    overflow: auto;
    position: relative;
}

@media (max-width: 383px) {
    .index-box {
        min-width: 240px;
        height: 200px;
        width: 96%;
        margin: 1% 0;
    }
}

@media (min-width: 384px) {
    .index-box {
        width: 96%;
        margin: 1% 1%;
    }
}

@media (min-width: 576px) {
    .index-box {
        width: 48%;
        margin: 1% 1%;
    }
}

@media (min-width: 960px) {
    .index-box {
        width: 32%;
        margin: 0.5% 0.5%;
    }
}

@media (min-width: 1280px) {
    .index-box {
        width: 24%;
    }
}

@media (min-width: 1600px) {
    .index-box {
        width: 16%;
        margin: 0.25% 0.25%;
    }
}

@media (min-width: 2140px) {
    .index-box {
        width: 12%;
        margin: 0.2% 0.2%;
    }
}

.index-box>h3 {
    margin-top: 8px;
}

.index-box-low {
    height: 128px;
}

.index-box-lowest {
    height: 64px;
}

.index-box-header-icon {
    position: absolute;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 5px;
}

.index-box-header-icon-top {
    right: 2%;
    top: 2%;
}

.index-box-header-icon-bottom {
    right: 2%;
    top: 20%;
}

.index-box-header-narrow {
    width: 88%;
}

.index-box-subtitle-narrow {
    width: 88%;
}

.tab-pane {
    margin-top: 20px;
}

.seen-tag-new {
    color: white;
    display: inline-block;
}

.seen-tag-updated {
    color: white;
    display: inline-block;
}

.seen-tag-seen {
    color: white;
    display: none;
}

.seen-tag-box {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 15px;
    padding: 2%;
    position: absolute;
    bottom: -1%;
    right: 2.5%;
    width: 64%;
}

@media (max-width: 575px) {
    .seen-tag-box {
        width: 88%;
        right: 6%;
    }
}

.seen-tag-header {
    border-radius: 15px;
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 20px;
    vertical-align: middle;
}

.unpublished-tag {
    border-radius: 15px;
    color: white;
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 20px;
    vertical-align: middle;
}

.tag-view-page {
    font-size: 80%;
    margin: 0 5px 2px 5px;
    padding: 2px 20px;
    text-align: center;
}

@media (max-width: 383px) {
    .tag-view-page {
        font-size: 50%;
        margin: 5px 0;
        padding: 5px 10px;
        width: 100%;
    }
}

.tag-smaller {
    font-size: 1.25rem;
    margin: -1px 0 0 5px;
    padding: 3px 10px;
}

.recap-box-time {
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
}

.recap-box-time-view {
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
}

.recap-box-sessions {
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
}

.session-box {
    font-size: 1.8rem;
}

.game-status {
    color: white;
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 7px;
    min-width: 150px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.game-status-proposed {
    background-color: blueviolet;
}

.game-status-announced {
    background-color: blueviolet;
}

.game-status-unplanned {
    background-color: lightcoral;
}

.game-status-planned {
    background-color: green;
}

.game-status-cancelled {
    background-color: red;
}

.game-status-progressing {
    background-color: green;
}

.game-status-aborted {
    background-color: red;
}

.game-status-completed {
    background-color: darkolivegreen;
}

.game-status-closed {
    background-color: black;
}

tr.table-row-hidden > td {
    font-style: italic;
    background-color: lightgoldenrodyellow;
}

.session-box-closed {
    cursor: pointer;
}

.session-box-closed:after {
    content: '+';
    float: right;
}

.session-box-open {
    cursor: pointer;
}

.session-box-open:after {
    content: '-';
    float: right;
    cursor: pointer;
}

.game-status-in-row {
    display: none;
}

.game-status-in-description {
    display: inline-block;
}

@media (min-width: 576px) {
    .game-status-in-row {
        display: inline-block;
    }

    .game-status-in-description {
        display: none;
    }
}

.btn-epic-selection {
    margin: 5px;
}

.epic-status {
    background-color: red;
    color: black;
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 15px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.epic-status-cancelled {
    background-color: darkslategrey;
    color: white;
}

.epic-status-closed {
    background-color: black;
    color: white;
}

.epic-status-on-hold {
    background-color: lightgrey;
}

.epic-status-lapsed {
    background-color: lightgrey;
}

.epic-status-finished {
    background-color: darkgreen;
    color: white;
}

.epic-status-planned {
    background-color: greenyellow;
}

.epic-status-prepared {
    background-color: greenyellow;
}

.epic-status-played {
    background-color: green;
    color: white;
}

.epic-status-proposed {
    background-color: greenyellow;
}

.epic-status-resuming {
    background-color: greenyellow;
}

.epic-status-scrapped {
    background-color: darkslategrey;
    color: white;
}

.epic-status-ready {
    background-color: greenyellow;
}

.external-data-textarea {
    width: 100%;
    margin: 1em 0;
}

.external-data-correct {
    background-color: lightgreen;
    color: darkgreen;
    padding: 1em;
    border-radius: .5rem;
    border: 2px solid;
}

.external-data-error {
    background-color: lightpink;
    color: darkred;
    padding: 1em;
    border-radius: .5rem;
    border: 2px solid;
}

.external-data-info {
    background-color: lightblue;
    color: blue;
    padding: 1em;
    border-radius: .5rem;
    border: 2px solid;
}

.external-data-warning {
    background-color: lightgoldenrodyellow;
    color: darkgoldenrod;
    padding: 1em;
    border-radius: .5rem;
    border: 2px solid;
}

.external-data-tab-container {
}

.external-data-table {
}

.external-data-table > caption {
    text-align: center;
    color: black;
    font-size: 1.5em;
}

.external-data-center {
    text-align: center;
}

.external-data-left {
    text-align: left;
}

.external-data-right {
    text-align: right;
}

.external-data-bold {
    font-weight: bold;
}

.external-data-italic {
    font-style: italic;
}

.modal-title-centered {
    text-align: center;
}

.btn-block-half {
    width: 44%;
    margin: 0 2.5%;
}
